@font-face {
  font-family: "Kind-Sans";
  src: url("./gilmer.otf") format("opentype");
}

@font-face {
  font-family: "Origin-Tech";
  src: url("./Origin.otf") format("opentype");
}
@import "tailwindcss";
@theme {
  --color-bubble2: #1b0618;
  --color-bubble: #5d0076;
  --color-bubb: #290924;
  --font-g: "Kind-Sans";
  --font-o: "Origin-Tech";
}
